body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("/img/bg.jpg");

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width:100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: fixed;
  z-index: 999;

}

li {
  float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    text-transform: uppercase;
}

li a:hover:not(.active) {
    color: #a50016;
}

button {
  background-color: #a50016;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: #a50016;
  border: 2px solid #a50016;
}

div {
  margin: 0;
  padding: 0;
}

div:hover {

}

.select {
  margin: 0;
  padding: 0;
  border: 1px solid #a50016;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;

}

.select:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

a {
  text-decoration: none;
}

p[id*="title"] {
  font-size: 32px;
}

.form-group {
  background-color: white;
  width: 95%;
  padding: 10px;
  color: #a50016;
  border: none;
}
.form-group:hover {
  background-color: white;
  color: #a50016;
  border: none;
}

.help-block {
  color: red;
}

input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type="submit"] {
  color: white;
  width: 100%;
  background-color: #a50016;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 100px;
  resize: none;
  margin: 8px 0;
  padding: 12px 20px;
}
