a {
  text-decoration: none;
}

body, html {
  height: 100%;
  margin: 0;
  margin-top: 70px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("/img/bg.jpg");
}

button {
  background-color: #a50016;
  color:white;
  position: relative;
  padding: 15px 32px;

  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

button:hover {
  box-shadow: 2px 2px 10px;
  color:#a50016;
  background-color: #fefefe;
}



canvas {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 10px;
  border: 5px solid #a50016;
  border-radius: 10px;
  z-index: 900;
}


form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type="submit"] {
  color: white;
  width: 100%;
  background-color: #a50016;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14pt;
  box-shadow: 2px 2px 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
  color: #a50016;
  background-color: white;
}

li {
  float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    text-transform: uppercase;
    cursor: pointer;
}

li a:hover {
    color: #a50016;
}

p[id*="title"] {
  font-size: 32px;
}

textarea {
  width: 95%;
  height: 100px;
  resize: none;
  margin: 8px 0;
  padding: 12px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width:100%;
  top: 0px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: fixed;
  z-index: 998;
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.delete-button {
  position: fixed;
  top: 70px;
  right: 20%;
  z-index: 999;
}

.download-button {
  position: fixed;
  top: 70px;
  right: 5%;
}

.file {
  cursor: pointer;
  padding: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  background-color: rgba(0,0,0, 0.5);
  color:grey;
}

.file:hover {
  box-shadow: 2px 2px 10px;
  color: white;
}

.file-list {
  position: relative;
  top: 125%;
  background-color: rgba(0,0,0, 0);
  cursor: pointer;
  font-size: 20px;
}

.file-upload {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-upload:focus + label{
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.form-control {
  width: 100%;
}

.form-control-login {
  width: 85%;
}

.form-group {
  background-color: white;
  width: 95%;
  padding: 10px;
  color: #a50016;
  border: none;
}

.form-group:hover {
  background-color: white;
  color: #a50016;
  border: none;
}

.help-block {
  color: red;
}

.loader {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #a50016;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 901;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-button {
  width: 50%;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-control {
  width: 100%;
  padding: 10px 5px;
}

.modal-header {
    padding: 2px 16px;
    background-color: #a50016;
    color: white;
}

.modal-message {
  font-size: 20pt;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.model-data {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: grey;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 75px;
  font-size: 24pt;
  width: 100%;
  z-index: 999;
}

.notice {
  font-size: 32pt;
  position: relative;
  top: 80px;
}


.select {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  border-bottom: 1px solid #a50016;
  border-top: 1px solid #a50016;

  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 0px;
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.title {
  font-size: 28pt;
  color:white;
  display: block;
  width: 73%;
  padding-top: 0px;
}

.upload-button {
  cursor: pointer;
  background-color: #a50016;
  color:white;
  position: relative;
  padding: 5px 10px;
  box-shadow: 2px 2px 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.upload-button:hover {
  color:#a50016;
  background-color: #fefefe;
}

.wrapper {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
